@{
    ViewBag.Title = "تفعيل الحساب";
}

<h2>@ViewBag.Title.</h2>
<div class="well" style="font-size:x-large;">
    <p>
        شكراً لتفعيل حسابك. الرجاء @Html.ActionLink("قم بالضغط هنا لتسجيل الدخول", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
