@model IT_Assistant_Online.Models.Section

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="padding-top:75px;">

    <h2> تفاصيل القسم</h2>
    <hr />

    <div class="well" style="font-size:medium;">

        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

        </dl>
        <p>
            @Html.ActionLink("تعديل", "Edit", new { id = Model.id }) |
            @Html.ActionLink("العودة إلى أقسم الصيانة", "Index")
        </p>
    </div>

</div>

    